@model ConfigurationExample.Models.Stock;

<h2>Stocks</h2>

<h3>@Model.StockName</h3>
<h4>Current Price: @Model.CurrenPrice</h4>
<h4>Opening Price: @Model.OpenPrice</h4>
<h4>High Price: @Model.HighPrice</h4>
<h4>Low Price: @Model.LowPrice</h4>


